@model VidlyTutorial.Models.Customer

@{
    ViewBag.Title = "Details";
}

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Customer Name </th>
        <th>Membership (In Months)</th>
        <th>Membership Fee</th>
        <th>Discount</th>
        

    </tr>
    
    
        <tr>
            <td>@Html.ActionLink(Model.Name, "Edit", "Customers", new { id = Model.Id }, null)</td>
            <td>@Model.MembershipType.Name (@Model.MembershipType.DurationInMonths)</td>
            <td>$@Model.MembershipType.SignUpFee.ToString()</td>
            <td>@Model.MembershipType.DiscountRate.ToString()%</td>
        </tr>

    
</table>

